<div class="pane-head">
	<button type="button" class="close" data-ng-click="panels.close();">x</button>
</div>

<div class="pane-body">
	<h4>{{selectedPOI.Address}}</h4>
	<small>{{selectedPOI.Note}}</small>
	<div>
	<a ng-href="https://www.google.com/maps?q={{selectedPOI.Latitude}},{{selectedPOI.Longitude}}" class="btn btn-primary" role="button">Posizione</a>
	<a ng-href="https://www.google.com/maps/dir/Current+Location/{{selectedPOI.Latitude}},{{selectedPOI.Longitude}}" class="btn btn-primary" role="button">Indicazioni</a>
	</div>
	<div>
		<button type="button" class="btn-warning" data-ng-click="panels.close();">Chiudi</button>
	</div>
</div> 

